body {
    /*background-color:fuchsia;*/
}



li a {
   background: none;
    color: #999;
    padding: 5px;
    border-radius: 15px;
    text-decoration: none;
  } 

li a.currentMenuItem{
   background-color: black;   
    color: white;
  } 


